{% extends 'base.html' %}
{% block content %}
<h1>Transaction History</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction[0] }}</td>
        <td>{{ transaction[1] }}</td>
        <td>{{ transaction[2] }}</td>
        <td>{{ transaction[3] }}</td>
        <td>{{ transaction[4] }}</td>
        <td>{{ transaction[5] }}</td>
        <td>
            <a href="{{ url_for('main.edit_transaction', id=transaction[0]) }}" class="button.edit">Edit</a>
            <a href="{{ url_for('main.delete_transaction', id=transaction[0]) }}" class="button.delete">Delete</a>            
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}