{% extends 'base.html' %}
{% block content %}
<h1>Transaction History</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction[0] }}</td>
        <td>{{ transaction[1] }}</td>
        <td>{{ transaction[2] }}</td>
        <td>{{ transaction[3] }}</td>
        <td>{{ transaction[4] }}</td>
        <td>{{ transaction[5] }}</td>
        <td>
            <button> class='edit' onclick="location.href='main.edit_transaction';" value="Edit"></button>
            <button> class='delete' onclick="location.href='main.delete_transaction';" value="Delete"></button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}